:root {
  --background: #1c0658;
  --highlight: #36cdc4;
  --main-text: #fefefe;
  --link: hsl(329, 100%, 54%);
  --link-active: hsl(329, 100%, 64%);
  --link-visited: hsl(329, 100%, 34%);
}

body {
  background-color: var(--background);
  color: var(--main-text);
}

a {
  color: var(--link);
}
a:visited {
  color: var(--link-visited);
}
a:active,
a:focus {
  color: var(--link-active);
}

.📄 {
  margin: 0 auto;
  max-width: 50em;
}

.📄⬆️ a {
  color: var(--highlight);
  text-decoration: none;
}
