// https://www.happyhues.co/palettes/8

$linkColour: #f45d48;

:root {
  --background: #f8f5f2;
  --highlight: #078080;
  --main-text: #333;
  --link: #{$linkColour};
  --link-active: #{lighten($linkColour, 20%)};
  --link-visited: #{darken($linkColour, 20%)};
}

body {
  background-color: var(--background);
  color: var(--main-text);
}

a {
  color: var(--link);
}
a:visited {
  color: var(--link-visited);
}
a:active,
a:focus {
  color: var(--link-active);
}

.📄 {
  margin: 0 auto;
}

.📄⬆️ {
  text-align: center;
  padding: 3vw 0;
}

.📄⬆️ a {
  text-decoration: none;
}

.📄⬇️ {
  margin: 3rem 0 0;
  padding: 3rem;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 4vw;
}

.post-nav {
  list-style: none;
  padding: 0;
  margin-top: 3rem;

  li:last-child {
    text-align: right;
  }
}
