// https://www.happyhues.co/palettes/8

$linkColour: #f45d48;

:root {
  --background: #f8f5f2;
  --highlight: #078080;
  --main-text: #333;
  --link: #{$linkColour};
  --link-active: #{lighten($linkColour, 20%)};
  --link-visited: #{darken($linkColour, 20%)};
}

body {
  background-color: var(--background);
  color: var(--main-text);
}

a {
  color: var(--link);
}
a:visited {
  color: var(--link-visited);
}
a:active,
a:focus {
  color: var(--link-active);
}

.📄 {
  margin: 0 auto;
}

.📄⬆️ {
  background: var(--highlight);
  color: var(--background);
  text-align: center;
  padding: 3rem 0;

  .site-title {
    margin-top: 0;
  }
}

.📄⬆️ a {
  color: var(--background);
  text-decoration: none;
}

.📄⬇️ {
  background: var(--highlight);
  color: var(--background);
  margin: 3rem 0 0;
  padding: 3rem;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 50rem;
}
